services:
  db:
    image: postgres:15-alpine
    container_name: fase_final_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ai_native
    ports:
      - "5440:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init_schema.sql:/docker-entrypoint-initdb.d/init_schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s

  #ollama:
    #image: ollama/ollama:latest
    #container_name: fase_final_ollama
    #ports:
    #  - "11434:11434"
    #volumes:
    #  - ollama_data:/root/.ollama
    #healthcheck:
    #  test: ["CMD", "ollama", "list"]
    #  interval: 10s
    #  timeout: 5s
    #  retries: 5

  chroma:
    image: chromadb/chroma:0.4.24
    container_name: fase_final_chroma
    ports:
      - "8001:8000"
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
    healthcheck:
      test: ["CMD", "/validation/healthcheck.py"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: fase_final_backend
    depends_on:
      db:
        condition: service_healthy
      #ollama:
      #  condition: service_started
      chroma:
        condition: service_started
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/ai_native
      - OLLAMA_BASE_URL=http://187.77.41.214:11434
      - chomra_db_host=chroma
      - chomra_db_port=8000
      - SECRET_KEY=fase-final-cloud-secret-key-2024-production
      - DB_ECHO=False
      - PYTHONUNBUFFERED=1
    volumes:
      - ./uploads:/app/uploads
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres_data:
  ollama_data:
  chroma_data:
